body {
    background-color: var(--color-gray-50);
    color: var(--color-slate-900);
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

.card {
    box-shadow: var(--shadow-md);
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--color-slate-50);
}

.v-popper--theme-btn-tooltip .v-popper__inner {
    background: var(--color-slate-50);
    border-radius: 0.5rem;
    color: var(--color-slate-900);
    padding: 0.3rem 0.8rem;
    box-shadow: var(--shadow);
}

.v-popper--theme-btn-tooltip .v-popper__arrow-outer {
    border-color: var(--color-slate-50);
}

.v-popper--theme-btn-tooltip .v-popper__arrow-inner {
    visibility: visible;
}

.v-popper--theme-chart-dropdown .v-popper__inner {
    background: var(--color-slate-50);
    border-radius: 0.5rem;
    color: var(--color-slate-900);
    padding: 0.3rem 0.8rem;
    box-shadow: var(--shadow);
}

.v-popper--theme-chart-dropdown .v-popper__arrow-outer {
    border-color: var(--color-slate-50);
}

.v-popper--theme-chart-dropdown .v-popper__arrow-inner {
    visibility: visible;
}
